/* styling for home page */
/* classes are specific for each object */

.nowtify-header {
    margin: 100px auto; /* padding */
    margin-top: -50px; /* Moves header up */
    animation: homeFade 2s ease-in-out forwards;
}

.register-button {
    padding: 10px 0; /* Removes padding on sides to maintain fixed width */
    width: 150px; /* Fixed width for same button size */
    font-size: 1.2em;
    border: none;
    font-family: 'Arial';
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    animation: homeFade 2s ease-in-out forwards;
}

p {
    text-align: center;
    animation: homeFade 2s ease-in-out forwards;
}

/* class for login button */
.login-button {
    position: absolute; /* wont be affected by other elements */
    top: 10px;
    right: 20px;
    width: 80px;
    padding: 10px 0;
    font-size: 1.0em;
}

/* class for slogan */
.slogan {
    font-size: 1.6em;
    font-weight: bold;
    padding: 20px 0;
}



/* defining the header's fade with headerFade */
@keyframes homeFade {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}