/* styling for login button */

.login-header {
    position: absolute;
    font-size: 2.5em;
    top: 225px;
    right: 475px;
    margin-top: -50px; /* Moves header up */
    margin: 10px auto; /* padding */
    color: #7436a0;
}

.welcome-back-text {
    position: absolute;
    font-size: 3em;
    top: 350px;
    left: 470px;
    margin-top: -50px;
}

/* div is holding the text inside it and represents 'big rectangle' */
.big-rectangle {
    width: 1000px;
    height: 650px;
    background: linear-gradient(to right, #7436a0 60%, white 30%);
    border-radius: 20px;
}

.username-box {
    position: absolute;
    border: 1px solid #606060; /* black border */
    display: block; /* buttons displayed vertically (column form) */
    width: 300px;
    height: 60px;
    top: 330px;
    right: 410px;
    padding: 10px 0; /* Removes padding on sides to maintain fixed width */
    width: 250px; /* Fixed width for same button size */
    border-radius: 20px;
    background-color: transparent;
    box-shadow: none;

    /* text */
    text-align: left;
    padding-left: 20px; /* when aligning to left, gives padding so not all the way left */
    color: #606060;

}

.password-box {
    position: absolute;
    border: 1px solid #606060; /* black border */
    display: block; /* buttons displayed vertically (column form) */
    width: 300px;
    height: 60px;
    top: 420px;
    right: 410px;
    padding: 10px 0; /* Removes padding on sides to maintain fixed width */
    width: 250px; /* Fixed width for same button size */
    border-radius: 20px;
    background-color: transparent;
    box-shadow: none;

    /* text */
    text-align: left;
    padding-left: 20px; /* when aligning to left, gives padding so not all the way left */
    color: #606060;
}

.spotify-login-button {
    position: absolute;
    top: 550px;
    right: 460px;
    display: block; /* buttons displayed vertically (column form) */
    margin: 20px auto; /* padding */
    padding: 10px 0; /* Removes padding on sides to maintain fixed width */
    width: 150px; /* Fixed width for same button size */
    border: none;
    font-family: 'Arial';
    border-radius: 20px;
    box-shadow: none;

    /* text */
    text-align: center;
    background-color: rgb(41, 224, 41);
    color: black;
    font-size: 1.2em;
}